
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center">Chúc mừng bạn đặt hàng thành công</h2>
<div style="text-align: center">
    <a  asp-controller="Home" asp-action="Index" class="btn btn-primary">Trở về trang chủ</a>
</div>
@*<h4 style="text-align: center" asp-controller="Home" asp-action="Index" >Quay về trang chủ</h4>*@


