
<header class="header">
    <div class="header__top" style="background: gray;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li class="fa fa-envelope" style="font-weight:600;"> nguyentrandau2018@gmail.com</li>
                            <li>Miễn phí ship cho đơn hàng 3 sản phầm nha! ^^</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Vietnamese</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="header__top__right__auth">
                                <a asp-controller="Account" asp-action="Dashboard"><i class="fa fa-user"></i> Tài khoản của tôi</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="dang-xuat.html"><i class="fa fa-user"></i> Đăng xuất</a>
                            </div>

                        }
                        else
                        {
                            <div class="header__top__right__auth">
                                <a href="/account/Index"><i class="fa fa-user"></i> Đăng nhập</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/account/Dangky"><i class="fa fa-user"></i> Đăng ký</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="~/assets/img/Logo.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/" style="color: black;">Home</a></li>
                        <li><a asp-controller="Product" asp-action="Index">Shop</a></li>
                        <li><a href="/page/Huong-dan-mua-hang">Pages</a></li>
                        <li><a href="/blog.html">Blog</a></li>
                        <li><a href="/lien-he.html">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        
                        <li><a  href="/ShoppingCart/index"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>   </span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>